.scroll-for-more
{
    position: relative;
    background: none;
    cursor: pointer;
    width: 30px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin-top: 25px;   
}

.scroll-for-more::before
{
    position: absolute;
    content: '';
    top: 10px;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #fff;
    margin-left: -3px;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

@-webkit-keyframes sdb10
{
    0%
    {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }
    
    40%
    {
        opacity: 1;
    }

    80%
    {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }
    
    100%
    {
        opacity: 0;
    }
}

@keyframes sdb10
{
    0% 
    {
        transform: translate(0, 0);
        opacity: 0;
    }
    
    40%
    {
        opacity: 1; 
    }
    80%
    {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100%
    {
        opacity: 0;
    }
}

.btn
{
    padding: 20px 80px 20px 80px;
    background: none;
    cursor: pointer;
    border: none;
    text-decoration: none;
    border-radius: 9999px;
    transition: 0.25s all;
}

.btn-block
{
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

.btn-dark
{
    color: #fff;
    border: 1px solid #fff;
}

.btn-dark:hover
{
    background: #fff;
    color: var(--color-primary);
}

.btn-danger
{
    background: var(--color-secondary);
    color: #fff;
    border: 1px solid var(--color-secondary);
}

.btn-danger:hover
{
    background: #fff;
    color: var(--color-secondary);
}

.btn-success
{
    background: var(--color-tertienary);
    color: #fff;
    border: 1px solid var(--color-tertienary);
}

.btn-success:hover
{
    background: #fff;
    color: var(--color-tertienary);
}