nav {
    display: flex;
    position: absolute;
    z-index: 999;
    width: 10px;
    justify-content: space-between;
    margin-top: 25px;
    align-content: center;
    height: 70px;
    width: 1000px;
    left: calc(50% - 500px);
    transition: 0.25s all;
}

nav>.logo {
    width: 125px;
    padding-top: 10px;
}

nav>.logo.dark {
    display: none;
}

nav>.logo>a {
    display: block;
    width: 100%;
}

nav>.logo>a>img {
    width: 100%;
}

nav>.menu {
    display: flex;
    height: 100%;
    align-items: center;
}

nav>.menu>.menu-item {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 14px;
    z-index: 0;
}

nav>.menu>.menu-item::before {
    content: "";
    position: absolute;
    background: var(--color-quartenary-transparent);
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: -1;
    transition: 0.25s all;
}

nav>.menu>.menu-item:hover {
    color: #fff;
    transition: 0.25s all;
}

nav>.menu>.menu-item:hover.menu-item::before {
    width: 100%;
}

.nav-icon4 {
    display: none;
}

.nav-fixed {
    position: fixed;
    background: white;
    box-shadow: 0 0 3px 3px rgb(165, 84, 70);
    margin-top: 25px;
    border-radius: var(--border-radius);
    padding-left: 10px;
    padding-right: 10px;
}

.nav-fixed>.menu>.menu-item {
    color: rgb(87, 84, 84);
}

.nav-fixed>.menu>.menu-item::before {
    background: var(--color-quartenary-transparent);
}

.nav-fixed>.menu>.menu-item:hover {
    color: #fff;
}

.nav-fixed>.logo.light {
    display: none;
}

.nav-fixed>.logo.dark {
    display: block;
}

@media only screen and (max-width: 1000px) {
    nav {
        width: 100%;
        left: 0px;
        padding-left: 40px;
        padding-right: 40px;
    }

    nav>.logo {
        position: relative;
        z-index: 99;
    }

    nav>.menu {
        position: absolute;
        left: 0px;
        width: 100%;
        padding: 0px;
        display: flex;
        height: auto;
        flex-direction: column;
        align-items: flex-start;
        margin-top: -25px;
        padding-top: 0px;
        padding-bottom: 0px;
        max-height: 0px;
        background: rgba(42, 38, 61, 0.82);
        overflow: hidden;
        transition: 0.25s all;
    }

    nav>.menu.open {
        padding-top: 150px;
        padding-bottom: 25px;
        max-height: 1000px;
    }

    nav>.menu>a {
        width: 100%;
        padding-left: 50px !important;
        padding-right: 50px !important;
        margin: 0px !important;
    }

    .nav-icon4 {
        display: block;
        width: 60px;
        height: 45px;
        -webkit-transform: rotate(0deg) scale(0.75);
        -moz-transform: rotate(0deg) scale(0.75);
        -o-transform: rotate(0deg) scale(0.75);
        transform: rotate(0deg) scale(0.75);
        -webkit-transition: 0.5s ease-in-out;
        -moz-transition: 0.5s ease-in-out;
        -o-transition: 0.5s ease-in-out;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        align-self: center;
    }

    .nav-icon4 span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: #fff;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }

    .nav-icon4 span:nth-child(1) {
        top: 0px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(2) {
        top: 18px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .nav-icon4 span:nth-child(3) {
        top: 36px;
        -webkit-transform-origin: left center;
        -moz-transform-origin: left center;
        -o-transform-origin: left center;
        transform-origin: left center;
    }

    .nav-icon4.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: -3px;
        left: 8px;
    }

    .nav-icon4.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .nav-icon4.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 39px;
        left: 8px;
    }

    .nav-fixed {
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .nav-fixed .nav-icon4 span {
        background: var(--color-primary);
    }
}
